.chatRoom{
    overflow: hidden;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 98%;
    height: 4.5rem;  /*绝对大小*/
    border-radius: 10px 0 0 0;
    display: none;
    box-shadow:0 0 10px #999999;
    background-color: white;

}
.chatRoom-head{
    width: 100%;
    height: 4.5rem; /*绝对大小*/
    background-color:darkgray;
    font-weight: bolder;
    font-size: 2em;
    text-align: center;
    line-height: 4.5rem;  /*绝对大小*/
    color: white;
    border-radius: 10px 0 0 0;
    position: relative;
}
.chatRoom-head-title{
    position: absolute;
    top: 0;
    right: 0;
    width: 93%;
    height: 100%;
}
.chatRoom-head-control{
    display: inline-block;
    width: 7%;
    margin-right: 93%;
    height: 100%;
    border-radius: 10px 0 0 0;
    cursor: pointer;
}
.chatRoom-head-control:hover{
    background-color: gray;
}
.chatRoom-main{
    width: 100%;
    flex: 1 1 auto;
    display: flex;
    padding: 0 2rem 2rem 2rem;
}

.chatRoom-main-left{
    box-shadow:0 0 5px 1px #999999;
    width: 30%;
    background-color: peachpuff;
    overflow-y: scroll;
}


.chatRoom-main-right{
    margin-left: 3%;
    width: 68%;
}
.chatRoom-main-messageArea{
    box-shadow:0 0 5px 1px #999999;
    width: 100%;
    /*background-color: white;*/
    overflow-y: scroll;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: #eeeeee;
    /*position: relative;*/
}
.chatRoom-main-right-promptWindow{
    /*float: left;*/
    color: black;
    font-size: 1em;
    width: 100%;
    text-align: center;
    /*height: 10%;*/
    background-color: paleturquoise;
    opacity: 0.5;
    border-radius: 5px;
    /*position: fixed;*/
    /*top: 0;*/
}
.chatRoom-main-form{
    margin-top: 2%;
    width: 100%;
    height: 8%;
    position: relative;
}
.chatRoom-messageInput{
    box-shadow:0 0 5px 1px #999999;
    height: 100%;
    font-size: 1.5em;
    width: 85%;
}
.chatRoom-sendBtn{
    position: absolute;
    background-color:gray;
    color: white;
    font-weight: bolder;
    top: 0;
    right: 0;
    width: 15%;
    height: 100%;
    font-size: 1em;
}
/*消息样式*/
.my-chatRoom-message{
    align-self: flex-end;
    width: 60%;
    /*background-color: green;*/
    margin-bottom: 4%;
    /*position:relative ;*/

}
.myAvatar{
    width: 15%;
    float: right;
    height: 3.5em;
}
.chat-my-message{

    position: relative;
    margin-right: 10%;
    font-size: 1em;
    max-width: 75%;
    /*background-color: pink;*/
    padding: 4%;
    float: right;
    background-color: rgba(64, 249, 7, 0.96);
    border-radius: 0.4em;
}
.my-arrow{
    position: absolute;
    right: -0.5em;
    width: 0;
    height: 0;
    top: 0.4em;
    border-top: 0.35em solid transparent;
    border-left: 0.5em solid rgba(64, 249, 7, 0.96);
    border-bottom: 0.35em solid transparent;
}
.others-chatRoom-message{
    width: 60%;
    margin-bottom: 4%;
}
.othersAvatar{
    width: 15%;
    float: left;
    height: 3.5em;
}
.chat-others-message{
    position: relative;
    margin-left: 10%;
    font-size: 1em;
    max-width: 75%;
    padding: 4%;
    float: left;
    background-color: white;
    border-radius: 0.4em;

}
.others-arrow{
    position: absolute;
    left: -0.5em;
    width: 0;
    height: 0;
    top: 0.4em;
    border-top: 0.35em solid transparent;
    border-right: 0.5em solid white;
    border-bottom: 0.35em solid transparent;
}
.userList{
    width: 90%;
    margin-left: 5%;
    padding:0.4em 0.5em 0.4em 0.5em ;
    border-radius: 6px;
    margin-top: 5%;
    background-color: lightblue;
    text-align: center;
    display: flex;
    align-items: center;
}
.userList img{
    width: 30%;
    height: 4em;
    border-radius: 30%;

}
.userList span{
    width:70% ;
    text-align: center;
    font-size: 1em;
}
.userList:hover{
    background-color: #fcf288;
}
.show-flex-chatRoom{
    display: flex;
    flex-direction: column;
}
@media only screen and (max-width: 400px) {  /*320-700*/
    .chatRoom-main-left{
        width: 40%;
    }
    .chatRoom-main-right{
        width: 58%;
    }
}
@media only screen and (min-width: 700px) {
    .userList span {
        font-size: 2em;
    }
}
@media only screen and (min-width: 1300px) {  /*1300~*/
    .userList span {
        font-size: 2em;
    }
}