.shell-main{
    width: 100%;
    background-color: pink;
    height: 38em;
}
.shell-main img{
    width: 100%;
    height: 100%;
}
.shell-footer{
    width: 100%;
    margin-top: auto;
}
.shell-modal{
    position: absolute;
    top: 2.5em;
    width: 26%;
    right:36%;
    border-radius: 5px;
    border: 1px solid #d5d5d5;
    z-index: 10;
    display: none;
}
.shell-modal-title{
    padding: 2% 0 2% 13%;
    width: 100%;
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.5em;
    font-weight: bold;
    background-color:lightskyblue;
    color: white;
}

.shell-modal-signInform,.shell-modal-logInform{
    width: 100%;
    background-color: white;
    z-index: 4;
}
.shell-modal-logInform input,.shell-modal-signInform input{
    width: 70%;
    height: 2.5em;
    padding: 5% 10%;
    margin: 4% 15%;
    font-size: 1.2em;
}
.shell-modal-logInform button,.shell-modal-signInform button{
    width: 4em;
    height: 2.5em;
    margin-left: 41%;
    margin-bottom: 1em;
    font-size: 1.2em;
    color: white;
    background-color: lightskyblue;
    border: none;
    border-radius: 3px;
    outline: 0;
}
.shell-modal-logInform button:hover{
    background-color: lightblue;
}
.shell-modal-signInform button:hover{
    background-color: lightblue;
}
.close-pic{
    float: right;
    width: 13%;
    padding-left: 2%;
    margin-right: 10%;
    cursor: pointer;
}
.close-pic:hover{
    background-color: lightblue;
}
.glyphicon-remove{
    font-size: 0.9em;
}
.login-callWord{
    font-size: 1.2em;
    color: red;
    display: none;
    margin-left: 2%;
}

.success-callWord,.inline-callWord{
    position: absolute;
    top:3%;
    right: 46%;
    width: 8%;
    height: 35px;
    display: none;
    font-size: 1.3em;
    color: green;
}
.shade{
    position: absolute;
    top: 0;
    background-color: darkgrey;
    opacity: 0.4;
    z-index: 3;
    width: 100%;
    height: 100%;
    display: none;
}
@media only screen and (min-width: 320px) {  /*320-700*/
    .shell-modal{
        width: 60%;
        right:20%;
    }
    .shell-main{
        height: 33em;
    }

}
@media only screen and (min-width: 700px) {  /*700-1300*/
    .shell-modal{
        width: 40%;
        right:30%;
    }
    .shell-main{
        height: 38em;
    }

}
@media only screen and (min-width: 1300px) {  /*1300~*/
    .shell-modal{
        width: 26%;
        right:36%;
    }
    .shell-main{
      height: 38em;
    }

}

